body {
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0px;
  padding-top: 2%;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  margin-top: 1%;
}

.top-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  margin: 0px;
  background-color: #E5F3F2;
}

.title1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 38px;
}

.title2 {
  display: inline-block;
  margin-left: -10px;
  padding-right: 10px;
  transform: rotate(45deg);
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.input-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto 20px auto;
}

.input {
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
}

.save-button {
  border: none;
  padding: 0px 30px 0px 30px;
  width: 100%;
  height: 50%;
  font-size: 25px;
  letter-spacing: 2px;
  background-color: #00A79D;
  color: #FFFFFF;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  background-color: darkgrey;
}

.search-input {
  text-align: center;
  margin: 20px 0 20px 0;
  width: 100%;
}

.buttonSection1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}

.buttonSection1 button {
  background-color: #E5F3F2;
}

.buttonSection1 button:hover {
  background-color: #00A79D;
}

.buttonSection2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
  font-size: 14px;
}

.buttonSection2 button {
  background-color: #E5F3F2;
}

.buttonSection2 button:hover {
  background-color: #00A79D;
}

.search-text {
  border: 1px solid grey;
  font-size: 28px;
  width: 80%;
}

.input-card-container {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card-body {
  min-height: 100px;
  width: 100%;
  color: #939598;
  margin: 5px 0;
  white-space: normal;
  overflow: scroll;
}

.input-card {
  border-bottom: 1px solid #D1D3D4;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card-title-box {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.card-title {
  font-size: 20pt;
  text-align: left;
  width: 100%;
  margin-bottom: 0px;
}

.importance-box {
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
}

.importance-result {
  font-size: 16px;
  margin: 10px 5px 25px auto;
}

.importance-btns, .delete-btn {
  background: transparent;
  border: none;
}

.importance-image {
  height: 30px;
}

.current-importance {
  font-size: 16px;
  margin: 10px 5px 25px 5px;
}

.delete-btn {
  background: url('images/spritesheet.png') 0 0;
  background-size: cover;
  height: 35px;
  width: 35px;
}

.delete-btn:hover {
  background: url("images/spritesheet.png") 0 -35px;
  background-size: cover;
}

.up-vote {
  background: url('images/spritesheet.png') 0 -75px;
  background-size: cover;
  height: 35px;
  width: 35px;
}

.up-vote:hover {
  background: url('images/spritesheet.png') 0 -112px;
  background-size: cover;
}

.down-vote {
  background: url('images/spritesheet.png') 0 -150px;
  background-size: cover;
  height: 35px;
  width: 35px;
  margin-left: 10px;
}

.down-vote:hover {
  background: url('images/spritesheet.png') 0 -188px;
  background-size: cover;
}

.completedtrue {
  text-decoration: line-through;
  background-color: darkgrey;
  background-blend-mode: overlay;
}

.completed-btn {
  margin: auto;
  width: 100%;
  border: 1px solid black;
  height: 50%;
  font-size: 25px;
  letter-spacing: 2px;
  background-color: #D7D8DA;
  color: #FFFFFF;
  outline: none;
}

.completed-btn:hover {
  background-color: #00A79D;
}

@media screen and (min-width: 650px){
  input {
    width: 60%;
  }

  h1 {
    width: 80%;
    margin: auto;
  }

  .top-box {
    height: 250px;
  }

  .input-field {
    display: block;
    margin: auto;
  }

  .save-button {
    width: 100%;
    margin-bottom: 20px;
  }

  .input-card {
    width: 80%;
    margin-top: 30px;
  }

  .input-title, .input-body {
    width: 100%;
  }

  .buttonSection button {
    padding: 0px;
  }
  .completed-btn {
    width: 20%;
  }
  .importance-result {
    margin-right: 10px;
  }

  .completed-btn {
    margin: 0 0 10px auto;
    min-width: 60px;
  }
}
@media screen and (min-width: 850px) {

  header {
    height: 15%;
  }

  .top-box {
    height: 300px;
  }

  .title1 {
    font-size: 64px;
  }

  .title2 {
    font-size: 30px;
  }

  .input-field {
    height: 30%;
    margin: auto;
    margin-bottom: 100px;
  }

  .title-box {
    margin-top: 10px;
    font-size: 64px;
  }

  .save-button {
    margin-top: 15px;
  }

  .input-title {
    margin-bottom: 20px;
  }

  .input-body {
    margin-bottom: 20px;
  }

  .completed-btn {
    margin: 0 0 10px auto;
  }
}
