body {
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0px;
}

header h1 {
  margin-top: 1%;
}

.top-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: #E5F3F2;
  width: 100%;
  height: 60%;
  margin: 0px;
}

.title1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
}

.title2 {
  transform: rotate(45deg);
  display: inline-block;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
  margin-left: -10px;
}

.input-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.input {
  font-size: 28px;
  width: 100%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
}

.save-button {
  border: none;
  font-size: 25px;
  letter-spacing: 2px;
  width: 500px;
  background-color: #00A79D;
  color: #FFFFFF;
  padding: 0px 30px 0px 30px;
  height: 50%;
}

.card-body {
  height: 50px;
}

.search-input {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
  width: 100%;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
}

.search-text {
  border: 1px solid grey;
  font-size: 28px;
  width: 70%;
}

.input-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.input-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D1D3D4;
  height: 120%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-title-box {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.card-title {
  font-size: 20pt;
  width: 95%;
}

.card-body {
  width: 100%;
}

.importance-box {
  display: flex;
  align-items: baseline;
  vertical-align: middle;
}

.importance-box p {
  margin: 0px 10px 20px;
}

.importance-result {
  font-size: 15pt;
}

.importance-image {
  height: 35px;
}

.importance-result {
  display: flex;
}

.importance-btns, .delete-btn {
  background: transparent;
  border: none;
}

.completedtrue {
  text-decoration: line-through;
  background-color: darkgrey;
  background-blend-mode: overlay;
}

.completed-btn {
  margin-left: 20px;
}

@media screen and (min-width: 650px){
  input {
    width: 70%;
  }


  .save-button {
    width: 70%;
    margin-bottom: 20px;
  }

  .input-card {
    width: 70vw;
  }

  .top-box {
    height: 250px;
  }

  .input-title, .input-body {
    margin-bottom: 20px;
  }
}

  .completed-btn {
    position: relative;
    float: right;
  }

  .buttonSection button {
    background: transparent;
    border: none;
  }

  .buttonSection button:hover {
    border-bottom: 1px solid black;
  }

@media screen and (min-width: 850px) {

  header {
    height: 15%;
  }

  .title1 {
    font-size: 64px;
  }

  .title-box {
    margin-top: 10px;
    font-size: 64px;
  }

  .save-button {
    margin-top: 15px;
  }

  .input-field {
    height: 30%;
    margin: auto;
    margin-bottom: 100px;
  }

  .input-title {
    margin-bottom: 20px;
  }

  .input-body {
    margin-bottom: 20px;
  }

  .top-box {
    height: 300px;
  }
}

  .save-button:disabled {
    background-color: darkgrey;
  }
